In [2]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import pandas as pd
import json
import os
from datetime import datetime
from pathlib import Path

In [3]:
# Import Data
microsoft_path = Path("Resources/MSFT_daily_data.csv")
google_path = Path("Resources/GOOG.csv")
dell_path = Path("Resources/DELL_daily_data.csv")
ibm_path = Path("Resources/IBM_daily_data.csv")
intel_path = Path("Resources/INTC_daily_data.csv")
sp500_path = Path("Resources/sp500_index.csv")

In [4]:
# Read stock data and index by date
microsoft_data = pd.read_csv(microsoft_path, index_col="Date", parse_dates=True)
google_data = pd.read_csv(google_path, index_col="Date", parse_dates=True)
dell_data = pd.read_csv(dell_path, index_col="Date", parse_dates=True)
ibm_data = pd.read_csv(ibm_path, index_col="Date", parse_dates=True)
intel_data = pd.read_csv(intel_path, index_col="Date", parse_dates=True)
sp500_data = pd.read_csv(sp500_path, index_col="Date", parse_dates=True)

In [14]:
# Sample of microsoft data
microsoft_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.059946,1031788800
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062087,308160000
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063158,133171200
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.061552,67766400
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.060482,47894400
...,...,...,...,...,...,...
2024-09-23,434.279999,436.459991,430.390015,433.510010,433.510010,15128900
2024-09-24,433.000000,433.350006,426.100006,429.170013,429.170013,17015800
2024-09-25,429.829987,433.119995,428.570007,432.109985,432.109985,13396400
2024-09-26,435.089996,435.299988,429.130005,431.309998,431.309998,14492000
2024-09-27,431.519989,431.850006,427.470001,428.019989,428.019989,14896100

In [10]:
# Sample of google data
google_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216
2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488
2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939
2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159
2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512
...,...,...,...,...,...,...
2023-11-29,138.985001,139.669998,136.294998,136.399994,136.399994,21014700
2023-11-30,136.399994,136.960007,132.789993,133.919998,133.919998,29913500
2023-12-01,133.320007,133.500000,132.151993,133.320007,133.320007,24258400
2023-12-04,131.294006,131.449997,129.399994,130.630005,130.630005,24117100
2023-12-05,130.369995,133.539993,129.729996,132.389999,132.389999,19216500

In [11]:
# Sample of dell data
dell_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-08-17,12.207997,12.348319,12.067676,12.067676,11.303945,271519
2016-08-18,12.348319,12.348319,11.927354,11.997515,11.238224,1767366
2016-08-19,11.983482,12.207997,11.969450,12.207997,11.435387,4735900
2016-08-22,12.067676,12.797349,11.955418,12.250094,11.474819,2245909
2016-08-23,12.278158,12.881542,12.207997,12.628963,11.829713,1483020
...,...,...,...,...,...,...
2024-09-23,117.550003,118.099998,116.580002,117.570000,117.570000,8067800
2024-09-24,118.169998,118.440002,116.000000,117.309998,117.309998,6851800
2024-09-25,117.269997,120.239998,117.070000,120.169998,120.169998,8535000
2024-09-26,122.379997,127.000000,121.389999,126.489998,126.489998,13420500
2024-09-27,124.000000,124.410004,120.070000,120.220001,120.220001,13545000

In [12]:
# Sample of ibm data
ibm_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-11,15.236616,15.415870,15.117113,15.415870,4.557707,3030471
1980-12-12,15.415870,15.774379,15.385994,15.714627,4.646036,2546801
1980-12-15,15.714627,15.864006,15.415870,15.415870,4.557707,1408334
1980-12-16,15.415870,15.834130,15.385994,15.834130,4.681369,1914598
1980-12-17,15.774379,15.774379,15.475621,15.595124,4.610706,2135514
...,...,...,...,...,...,...
2024-09-23,218.000000,220.619995,217.270004,220.500000,220.500000,4074800
2024-09-24,219.779999,221.190002,218.160004,220.970001,220.970001,3183900
2024-09-25,221.169998,221.850006,220.160004,221.229996,221.229996,2537800
2024-09-26,222.110001,224.000000,221.360001,223.429993,223.429993,2673200
2024-09-27,223.000000,224.149994,220.770004,220.839996,220.839996,3830300

In [15]:
# Sample of intel data
intel_data

                 Open       High        Low      Close  Adj Close     Volume
Date
1980-12-11   0.421875   0.421875   0.416667   0.416667   0.232320   23481600
1980-12-12   0.429688   0.432292   0.429688   0.429688   0.239580   12460800
1980-12-15   0.429688   0.432292   0.429688   0.429688   0.239580    8544000
1980-12-16   0.432292   0.437500   0.432292   0.432292   0.241032   16425600
1980-12-17   0.427083   0.427083   0.424479   0.424479   0.236676   15753600
...               ...        ...        ...        ...        ...        ...
2024-09-23  22.430000  22.820000  22.030001  22.559999  22.559999  184439100
2024-09-24  22.530001  23.110001  22.290001  22.809999  22.809999  113082500
2024-09-25  22.799999  24.059999  22.730000  23.540001  23.540001  117013400
2024-09-26  24.280001  24.420000  23.250000  23.920000  23.920000   95416900
2024-09-27  24.160000  24.660000  23.700001  23.910000  23.910000   85883300

[11041 rows x 6 columns]

In [8]:
# Sample of S&P 500 stock index data
sp500_data

             S&P500
Date
2014-10-08  1968.89
2014-10-09  1928.21
2014-10-10  1906.13
2014-10-13  1874.74
2014-10-14  1877.70
...             ...
2024-10-01  5708.75
2024-10-02  5709.54
2024-10-03  5699.94
2024-10-04  5751.07
2024-10-07  5695.94

[2516 rows x 1 columns]

In [18]:
# Join by Columns and add stock tocker as the key
joined_data_cols = pd.concat([microsoft_data, google_data, dell_data, ibm_data, intel_data, sp500_data], axis="columns", join="inner", keys=["MSFT", "GOOG", "DELL", "IBM", "INTC", "SP500"])
joined_data_cols

                  MSFT                                                  \
                  Open        High         Low       Close   Adj Close
Date
2016-08-17   57.540001   57.680000   57.230000   57.560001   51.918800
2016-08-18   57.419998   57.700001   57.270000   57.599998   51.954880
2016-08-19   57.430000   57.730000   57.200001   57.619999   51.972927
2016-08-22   57.599998   57.750000   57.259998   57.669998   52.018028
2016-08-23   57.900002   58.180000   57.849998   57.889999   52.216454
...                ...         ...         ...         ...         ...
2023-11-29  383.760010  384.299988  377.440002  378.850006  376.790710
2023-11-30  378.489990  380.089996  375.470001  378.910004  376.850403
2023-12-01  376.760010  378.160004  371.309998  374.510010  372.474304
2023-12-04  369.100006  369.519989  362.899994  369.140015  367.133514
2023-12-05  366.450012  373.079987  365.619995  372.519989  370.495117

                            GOOG                                      ...  \
              Volume        Open        High         Low       Close  ...
Date                                                                  ...
2016-08-17  18856400   38.866001   39.040501   38.676498   38.995499  ...
2016-08-18  14214300   39.000500   39.143002   38.849998   38.875000  ...
2016-08-19  17271000   38.750000   38.855000   38.656502   38.771000  ...
2016-08-22  15221900   38.663502   38.727001   38.502499   38.607498  ...
2016-08-23  18732400   38.773998   38.821999   38.589249   38.604000  ...
...              ...         ...         ...         ...         ...  ...
2023-11-29  28963400  138.985001  139.669998  136.294998  136.399994  ...
2023-11-30  30554400  136.399994  136.960007  132.789993  133.919998  ...
2023-12-01  33020400  133.320007  133.500000  132.151993  133.320007  ...
2023-12-04  32063300  131.294006  131.449997  129.399994  130.630005  ...
2023-12-05  23065000  130.369995  133.539993  129.729996  132.389999  ...

                   IBM                            INTC                        \
                 Close   Adj Close   Volume       Open       High        Low
Date
2016-08-17  153.384323  106.701454  3374291  35.169998  35.209999  34.770000
2016-08-18  154.263855  107.313324  3819992  34.959999  35.090000  34.750000
2016-08-19  153.001907  106.435417  2944699  34.840000  35.270000  34.740002
2016-08-22  152.963669  106.408859  2133108  35.200001  35.450001  35.119999
2016-08-23  153.212234  106.581764  2968653  35.500000  35.689999  35.299999
...                ...         ...      ...        ...        ...        ...
2023-11-29  156.410004  152.142731  3568900  44.599998  45.340000  44.599998
2023-11-30  158.559998  154.234070  6740600  44.650002  45.090000  44.410000
2023-12-01  160.550003  156.169785  4871000  44.360001  44.360001  42.860001
2023-12-04  161.100006  156.704773  5779000  43.299999  43.310001  41.689999
2023-12-05  161.389999  156.986877  4556700  41.910000  42.290001  41.610001

                                              SP500
                Close  Adj Close    Volume   S&P500
Date
2016-08-17  35.020000  28.375046  18221600  2182.22
2016-08-18  34.970001  28.334541  16085200  2187.02
2016-08-19  35.240002  28.553305  16417600  2183.87
2016-08-22  35.360001  28.650537  14941400  2182.64
2016-08-23  35.400002  28.682945  18316000  2186.90
...               ...        ...       ...      ...
2023-11-29  44.939999  44.346081  38982000  4550.58
2023-11-30  44.700001  44.109253  46263000  4567.80
2023-12-01  43.740002  43.161938  43922500  4594.63
2023-12-04  42.349998  41.790306  50417600  4569.78
2023-12-05  41.919998  41.365990  31859300  4567.18

[1838 rows x 31 columns]